.category-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.category-section {
  justify-content: center;
  align-items: center;
  background-color: #333738;
  padding: 10px 0px;
  width: 100%; }

.category-section a, p.category-filter {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  color: #d0d5d4;
  margin: 5px 10px;
  text-align: center;
  width: 100%; }

.category-section a:hover {
  color: #fff; }

a.active {
  color: #fff; }

@media (min-width: 600px) {
  .category-section {
    padding: 0; }
  .category-section a, p.category-filter {
    margin: 15px 20px;
    width: calc(25% - 40px); } }
