.hero-img-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.hero-section {
  color: #f7f7f7; }

.hero-img-section {
  flex-wrap: nowrap;
  width: 100%; }

.hero-img {
  flex-grow: 1; }

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.hero-text-section {
  background-color: #d5a321;
  padding: 30px;
  text-align: center; }

.hero-text {
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  margin: 10px 0px; }

@media (min-width: 600px) {
  .hero-text {
    font-size: 26px; } }
