@import "../themes/colors";

.map-section {
  background-color: $color-dark-gray;
  height: 100vh;
  width: 100%;
  transition: margin-left 1s;
}

.shows-store-info.map-section {
  margin-left: 75%;
}

@media (min-width: 600px) {
  .shows-store-info.map-section {
    margin-left: 40%;
  }
}
