.menu-section, .menu-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.menu-section {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%; }

.menu-section h1 {
  text-align: center;
  padding: 20px; }

.menu-links {
  background-color: #333738;
  justify-content: center;
  width: 100%; }

.menu-section a {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 24px;
  color: #d0d5d4;
  text-decoration: none;
  margin: 10px 20px; }

.menu-section a:hover {
  color: #fff; }
