@import "../themes/colors";
@import "../themes/fonts";
@import "../themes/flexbox";

.pagination-section {
  @extend %flex-box-row;
  justify-content: center;
  align-items: center;
  background-color: $color-dark-gray;
  padding: 20px;
  width: 100%;
}

.pagination-section a {
  font-family: $nanum;
  font-size: 24px;
  color: $color-middle-gray;
  margin: 10px 20px;
}

.pagination-section a:hover, a.active {
  color: $color-white;
}
