@import "../themes/colors";

@-webkit-keyframes slideIn {
    0% {transform: translateX(-100%)}
    100% {transform: translateX(0%)}
}

.store-section {
  background-color: $color-dark-gray;
  color: $color-middle-gray;
  height: 100%;
  width: 75%;
  position: absolute;
  animation-name: slideIn 2s;
  animation-iteration-count: 1;
  padding-top: 80px;
}

.close {
  border: none;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 25px;
  height: 25px;
  opacity: 0.7;
}

.close::before, .close::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 3px;
  background-color: $color-middle-orange;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover {
  opacity: 1;
}

.store-info {
  padding: 20px;
}

.store-info a {
  color: $color-middle-gray;
  font-size: 26px;
  text-decoration: none;
}

.store-info h2, .store-info h3 {
  color: $color-light-gray;
  margin: 7px 0px;
}

.store-address, .store-description {
  padding: 20px 0px;
}

@media (min-width: 600px) {
  .store-section {
    width: 40%;
}
}
