@import "../themes/colors";

@-webkit-keyframes slideIn {
    0% {transform: translateX(-100%)}
    100% {transform: translateX(0%)}
}

.store-section {
  background-color: $color-dark-gray;
  color: $color-middle-gray;
  height: 100%;
  width: 80%;
  position: absolute;
  animation-name: slideIn 2s;
  animation-iteration-count: 1;
  padding: 70px 0px;
  overflow: scroll;
}

.store-section a:not(.close-cross) {
  border-bottom: solid 2px $color-light-gray;
  color: $color-light-gray;
  font-size: 24px;
}

.store-section a:hover:not(.close-cross) {
  background-color: $color-light-gray;
  color: $color-dark-gray;
  padding: 4px;
}

.store-section h2, .store-section h3 {
  color: $color-light-gray;
  margin: 7px 0px;
}

.close {
  border: none;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

.close::before, .close::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 3px;
  background-color: $color-middle-orange;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover {
  opacity: 1;
}

.store-info {
  padding: 0px 30px;
}

.store-address, .store-description, .store-openinghours, .store-phonenumber {
  padding: 20px 0px;
}

@media (min-width: 700px) {
  .store-section {
    width: 55%;
  }
}

@media (min-width: 900px) {
  .store-section {
    width: 40%;
  }

  .store-info {
    padding: 0px 50px;
  }
}
