.store-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.store-container {
  background-color: #f7f7f7;
  color: #333738;
  padding: 30px;
  border-bottom: 3px solid #edbe46; }

.storelist-description,
.storelist-content-adress,
.storelist-content-phone,
.storelist-content-site,
.store-container h2 {
  margin-bottom: 15px;
  width: 100%; }

.store-container a {
  border-bottom: solid 2px #333738;
  color: #333738;
  font-size: 20px; }

.store-container a:hover {
  background-color: #333738;
  color: #f7f7f7;
  padding: 4px; }

.storelist-content-first, .storelist-content-second {
  margin: 15px 0px;
  width: 100%; }

.storelist-content-phone h3 {
  margin-bottom: 5px; }

@media (min-width: 600px) {
  .store-container {
    padding: 50px; }
  .storelist-content-first, .storelist-content-second {
    width: calc(50% - 10px); }
  .storelist-content-first {
    margin: 0px 10px 0px 0px; }
  .storelist-content-second {
    margin: 0px 0px 0px 10px;
    text-align: right; } }

@media (min-width: 900px) {
  .store-container {
    padding: 50px 200px; } }
