$color-black: #000;
$color-white: #fff;
$color-light-green: #dae0da;
$color-middle-green: #bcc8ba;
$color-dark-green: #677c66;
$color-light-pink: #fff0f5;
$color-middle-pink: #9d5770;
$color-dark-pink: #3e0b1d;
