$color-black: #000;
$color-white: #fff;
$color-light-gray: #f7f7f7;
$color-middle-gray: #d0d5d4;
$color-light-green: #4c7873;
$color-middle-green: #27635c;
$color-dark-green: #093a34;
$color-light-orange: #ffa273;
$color-middle-orange: #e37136;
$color-dark-orange: #ad4916;
