$color-black: #000;
$color-white: #fff;

$color-light-gray: #f7f7f7;
$color-middle-gray: #d0d5d4;
$color-dark-gray: #333738;
// $color-light-green: #4c7873;
// $color-middle-green: #27635c;
// $color-dark-green: #093a34;
$color-light-orange: #edbe46;
$color-middle-orange: #d5a321;
$color-dark-orange: #c8930b;

$color-light-blue: #6b949b;
$color-middle-blue: #1c626e;
$color-dark-blue: #07434d;
